div {
        height: 100px;
        width: 100px;
        background-color: aqua;
        display: inline-block;
        border: 2px solid black;
}

#box1 {
        background-image: url("cat_image.jpg");
        background-size: cover;
        /* background-repeat: no-repeat; */

}

/* body {
        background-image: url("cat_image.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
} */