div {   
        width: 100px;
        height: 100px;
        border: 2px solid gray;
        border-radius: 5px;
        background-color: yellow;
        position: relative;
        top: 100px;
        left: 300px;
        /* animation-name: firstAnimate;
        animation-duration: 2s;
        /* animation-timing-function: ease-in-out; */
        /* animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate; */ 

        animation: firstAnimate 4s ease-in 0s infinite alternate;

              
}

@keyframes firstAnimate {
        from {
                background-image: yellow;
                left: 0px;
        
        }
        to {
                background-color: green;
                color: black;
                left: 250px;
                top: -150px;
                border-radius: 50%;
                

        
        }
}

div:hover {

        background-color: aquamarine;
        color: darkgrey;
        border: 2px solid blue;
        /* left: inherit; */
        
}


 